.victoria {    
    background-color: #4a4a87;
}
  
.derrota {
    background-color: #7c3a3a;
}

.win-color {
  color: green;
}

.lose-color {
  color: red;
}

.deaths-red {
  color: #d40b0b;
}

.deaths-black {
  color: black;
}

.colorunico {
 color: rgb(255, 255, 255);
 font-weight: 400;
 text-decoration: underline currentColor;
}

.no-selected-username {
  color: violet;
  text-decoration: underline currentColor;
}

.list-items {
  padding: .2em 0em;
}